@{
    ViewData["Title"] = "Create / Edit Items";
}

@model DecorStock.Models.Item

<div class="text-center">
    <h1 class="display-4">Create or edit and expense</h1>
</div>

<form asp-action="CreateEditItemForm" asp-controller="Home">

    <input hidden class="form-control" type="number" placeholder="0" asp-for="Id"/>

    <label class="mt-2">Item Name</label>
    <input class="form-control" type="text" placeholder="Enter Name" asp-for="ItemName" />

    <label class="mt-2">Category</label>
    <input class="form-control" type="text" placeholder="Enter Category" asp-for="Category" />

    <label class="mt-2">Description</label>
    <input class="form-control" type="text" placeholder="Enter Description" asp-for="Description" />

    <label class="mt-2">Quantity</label>
    <input class="form-control" type="number" placeholder="0" asp-for="Quantity" step="1" />

    <label class="mt-2">Price</label>
    <input class="form-control" type="number" placeholder="0" asp-for="Price" step="0.01" />

    <button class="btn btn-primary mt-4" type="submit">Submit</button>

</form>